<form id="contact-form">


<input
name="name"
placeholder="Your Name"
required
/>


<input
name="email"
type="email"
placeholder="Email Address"
required
/>


<input
name="company"
placeholder="Company Name"
/>


<input
name="phone"
placeholder="Phone Number"
/>


<select name="service">

<option>
AI Consulting
</option>

<option>
AI Automation
</option>

<option>
AI Chatbot
</option>

<option>
AI Training
</option>

</select>


<textarea
name="message"
placeholder="Tell us about your project"
required>
</textarea>


<button type="submit">
Send Enquiry
</button>


</form>


<p id="result"></p>


<script>

const form =
document.querySelector("#contact-form");


const result =
document.querySelector("#result");


form.addEventListener(
"submit",
async(event)=>{


event.preventDefault();


const data =
Object.fromEntries(
new FormData(form)
);


const response =
await fetch(
"/api/contact",
{

method:"POST",

headers:{
"Content-Type":
"application/json"
},

body:
JSON.stringify(data)

});


const json =
await response.json();


if(json.success){

result.textContent =
"Thank you. We will contact you shortly.";

form.reset();

}

else {

result.textContent =
"Unable to submit form.";

}


});

</script>