---
export interface Props {

items: {
  question:string;
  answer:string;
}[];

}


const {
items
}=Astro.props;

---

<div class="w-full space-y-4">


{
items.map((item,index)=>(

<div

class="
rounded-2xl
border
border-slate-200
bg-white
overflow-hidden
"

>


<button

type="button"

class="
accordion-button
flex
w-full
items-center
justify-between
p-6
text-left
font-bold
text-slate-900
hover:bg-slate-50
"

data-target={`accordion-${index}`}

>


<span>

{item.question}

</span>


<span

class="
accordion-icon
text-xl
transition-transform
"

>

+

</span>


</button>



<div

id={`accordion-${index}`}

class="
accordion-content
hidden
px-6
pb-6
leading-8
text-slate-600
"

>

{item.answer}

</div>


</div>


))

}


</div>



<script is:inline>

const buttons =
document.querySelectorAll(
".accordion-button"
);


buttons.forEach((button)=>{


button.addEventListener(
"click",
()=>{


const target =
button.getAttribute(
"data-target"
);



if(!target){
return;
}



const content =
document.getElementById(
target
);



if(!content){
return;
}



content.classList.toggle(
"hidden"
);



const icon =
button.querySelector(
".accordion-icon"
);



if(icon){

icon.textContent =
content.classList.contains("hidden")
?
"+"
:
"−";

}


});

});


</script>