---
export interface Props{
hover?:boolean;
padding?:"sm"|"md"|"lg";
}

const {
hover=true,
padding="lg"
}=Astro.props;

const pad={
sm:"p-5",
md:"p-8",
lg:"p-10"
}
---

<div
class:list={[
"rounded-3xl",
"border",
"border-slate-200",
"bg-white",
"shadow-sm",
pad[padding],
hover && [
"transition-all",
"duration-300",
"hover:-translate-y-2",
"hover:shadow-2xl"
]
]}>

<slot/>

</div>